# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
tot_schools = school_data_complete.school_name.nunique()
tot_students = school_data_complete['Student ID'].nunique()
tot_budget = school_data.budget.sum()
ave_math_score = round(school_data_complete.math_score.mean(),2)
ave_reading_score = round(school_data_complete.reading_score.mean(),2)
percent_math_passed = round(len(school_data_complete.loc[school_data_complete['math_score'] > 69,:]) / tot_students * 100 , 2)
percent_reading_passed = round(len(school_data_complete.loc[school_data_complete['reading_score'] > 69,:]) / tot_students * 100 , 2)
overall_passing_rate = (ave_math_score + ave_reading_score) / 2

tot_students = "{:,}".format(tot_students)
tot_budget = "${:,}".format(tot_budget)

table_1 = pd.DataFrame ({"Total Schools": [tot_schools], "Total Students": [tot_students], "Total Budget": [tot_budget],
"Average Math Scote": [ave_math_score], "Average Reading Score": [ave_reading_score], "% Passing Math": [percent_math_passed],
"% Passing Reading": [percent_reading_passed], "Overall Passing Rate": [overall_passing_rate]})
table_1

,Total Schools,Total Students,Total Budget,Average Math Scote,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428",78.99,81.88,74.98,85.81,80.435

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [38]:
math_per_school = []
reading_per_school = []
s_passing_math = []
s_passing_reading = []

for s_name in school_data.school_name:
    
    math = student_data.loc[student_data['school_name'] == s_name, 'math_score'].mean()
    reading = student_data.loc[student_data['school_name'] == s_name, 'reading_score'].mean()
    
    count_pass_math = len(student_data.loc[(student_data['school_name'] == s_name) & (student_data['math_score'] > 69) , :])
    count_pass_reading = len(student_data.loc[(student_data['school_name'] == s_name) & (student_data['reading_score'] > 69) , :])
    
    math_per_school.append(math)
    reading_per_school.append(reading)
    
    s_passing_math.append(count_pass_math)
    s_passing_reading.append(count_pass_reading)

overview_table = pd.DataFrame ({"School Name": school_data.school_name,
                               "School Type": school_data.type,
                               "Total Students": school_data['size'],
                               "Total School Budget": school_data.budget,
                               "Per Student Budget": school_data.budget/school_data['size'],
                                "Average Math Score": math_per_school,
                                "Average Reading Score": reading_per_school,
                                "% Passing Math": s_passing_math / school_data['size'] * 100,
                                "% Passing Reading": s_passing_reading / school_data['size'] * 100,
                                "% Overall Passing Rate": (s_passing_math/school_data['size']+s_passing_reading/school_data['size'])/2*100
                               })

#overview_table = overview_table.set_index('School Name')
overview_table.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.