# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
tot_schools = school_data_complete.school_name.nunique()
tot_students = school_data_complete['Student ID'].nunique()
tot_budget = school_data.budget.sum()
ave_math_score = round(school_data_complete.math_score.mean(),2)
ave_reading_score = round(school_data_complete.reading_score.mean(),2)
percent_math_passed = round(len(school_data_complete.loc[school_data_complete['math_score'] > 69,:]) / tot_students * 100 , 2)
percent_reading_passed = round(len(school_data_complete.loc[school_data_complete['reading_score'] > 69,:]) / tot_students * 100 , 2)
overall_passing_rate = (ave_math_score + ave_reading_score) / 2

tot_students = "{:,}".format(tot_students)
tot_budget = "${:,}".format(tot_budget)

table_1 = pd.DataFrame ({"Total Schools": [tot_schools], "Total Students": [tot_students], "Total Budget": [tot_budget],
"Average Math Scote": [ave_math_score], "Average Reading Score": [ave_reading_score], "% Passing Math": [percent_math_passed],
"% Passing Reading": [percent_reading_passed], "Overall Passing Rate": [overall_passing_rate]})
table_1

,Total Schools,Total Students,Total Budget,Average Math Scote,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428",78.99,81.88,74.98,85.81,80.435

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [3]:
math_per_school = []
reading_per_school = []
s_passing_math = []
s_passing_reading = []

for s_name in school_data.school_name:
    
    math = student_data.loc[student_data['school_name'] == s_name, 'math_score'].mean()
    reading = student_data.loc[student_data['school_name'] == s_name, 'reading_score'].mean()
    
    count_pass_math = len(student_data.loc[(student_data['school_name'] == s_name) & (student_data['math_score'] > 69) , :])
    count_pass_reading = len(student_data.loc[(student_data['school_name'] == s_name) & (student_data['reading_score'] > 69) , :])
    
    math_per_school.append(math)
    reading_per_school.append(reading)
    
    s_passing_math.append(count_pass_math)
    s_passing_reading.append(count_pass_reading)

overview_table = pd.DataFrame ({"School Name": school_data.school_name,
                               "School Type": school_data.type,
                               "Total Students": school_data['size'],
                               "Total School Budget": school_data.budget,
                               "Per Student Budget": school_data.budget/school_data['size'],
                                "Average Math Score": math_per_school,
                                "Average Reading Score": reading_per_school,
                                "% Passing Math": s_passing_math / school_data['size'] * 100,
                                "% Passing Reading": s_passing_reading / school_data['size'] * 100,
                                "% Overall Passing Rate": (s_passing_math/school_data['size']+s_passing_reading/school_data['size'])/2*100
                               })

overview_table = overview_table.set_index('School Name')
del overview_table.index.name
overview_table.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [4]:
overview_table = overview_table.sort_values(by=['% Overall Passing Rate'], ascending = False)
overview_table.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [5]:
overview_table = overview_table.sort_values(by=['% Overall Passing Rate'], ascending = True)
overview_table.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [50]:
nineth_math = school_data_complete.loc[school_data_complete.grade == "9th",:].groupby('school_name').math_score.mean()
tenth_math = school_data_complete.loc[school_data_complete.grade == "10th",:].groupby('school_name').math_score.mean()
eleventh_math = school_data_complete.loc[school_data_complete.grade == "11th",:].groupby('school_name').math_score.mean()
twelveth_math = school_data_complete.loc[school_data_complete.grade == "12th",:].groupby('school_name').math_score.mean()

Math_Scores_by_Grade = pd.DataFrame({
    "9th":round(nineth_math,2),
    "10th":round(tenth_math,2),
    "11th":round(eleventh_math,2),
    "12th":round(twelveth_math,2)
})
del Math_Scores_by_Grade.index.name
Math_Scores_by_Grade

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [51]:
nineth_reading = school_data_complete.loc[school_data_complete.grade == "9th",:].groupby('school_name').reading_score.mean()
tenth_reading = school_data_complete.loc[school_data_complete.grade == "10th",:].groupby('school_name').reading_score.mean()
eleventh_reading = school_data_complete.loc[school_data_complete.grade == "11th",:].groupby('school_name').reading_score.mean()
twelveth_reading = school_data_complete.loc[school_data_complete.grade == "12th",:].groupby('school_name').reading_score.mean()

Reading_Scores_by_Grade = pd.DataFrame({
    "9th":round(nineth_reading,2),
    "10th":round(tenth_reading,2),
    "11th":round(eleventh_reading,2),
    "12th":round(twelveth_reading,2)
})
del Reading_Scores_by_Grade.index.name
Reading_Scores_by_Grade

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [52]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [58]:
overview_table['Spending Ranges (Per Student)'] = pd.cut(overview_table['Per Student Budget'],spending_bins,labels=group_names,right=True)
final = overview_table.groupby('Spending Ranges (Per Student)').mean()
final[['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing Rate']]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [60]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [62]:
overview_table['School Size'] = pd.cut(overview_table['Total Students'],size_bins,labels=group_names,right=True)
final = overview_table.groupby('School Size').mean()
final[['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing Rate']]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

In [65]:
final = overview_table.groupby('School Type').mean()
final[['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing Rate']]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757